@font-face {
    font-family: 'Monoton';
    src: url('./Monoton/Monoton-Regular.woff2') format('woff2'), url('./Monoton/Monoton-Regular.woff') format('woff');
    font-weight: normal;
    font-display: fallback;
}